
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isManager() {
      return isSignedIn() && exists(/databases/$(database)/documents/managers/$(request.auth.uid));
    }

    match /managers/{managerId} {
      allow get: if isSignedIn() && request.auth.uid == managerId;
      allow create: if isSignedIn() && request.auth.uid == managerId;
      allow read, write: if isManager();
    }

    match /buildings/{buildingId} {
      allow read, write: if isManager();
    }

    match /students/{studentId} {
      allow read, write: if isManager();
    }

    match /expenseParties/{expensePartyId} {
      allow read, write: if isManager();
    }

    match /payments/{paymentId} {
      allow read, write: if isManager();
    }

    match /expenses/{expenseId} {
      allow read, write: if isManager();
    }
  }
}
